
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --dark-background: 240 10% 3.9%;
    --dark-foreground: 0 0% 98%;
    /* Slightly lighter than background for contrast */
    --dark-calendar-background: 240 10% 10%;
  }

  .dark {
    --background: var(--dark-background);
    --foreground: var(--dark-foreground);
    
    --card: var(--dark-background);
    --card-foreground: var(--dark-foreground);

    --popover: var(--dark-background);
    --popover-foreground: var(--dark-foreground);

    --primary: var(--dark-foreground);
    --primary-foreground: var(--dark-background);

    --secondary: var(--dark-foreground);
    --secondary-foreground: var(--dark-background);

    --muted: var(--dark-foreground);
    --muted-foreground: var(--dark-background);

    --accent: var(--dark-foreground);
    --accent-foreground: var(--dark-background);

    --destructive: var(--dark-foreground);
    --destructive-foreground: var(--dark-background);

    --border: var(--dark-foreground);
    --input: var(--dark-foreground);
    --ring: var(--dark-foreground);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    /* Temporarily removed for debugging */
    /* cursor: none; */
  }
}

/* TipTap placeholder styling */
.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}
